.cartItem {
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: rgb(245, 245, 245);
    .bottom {
      .delete {
        display: inline-block;
      }
    }
  }
  .top {
    display: flex;
    align-items: center;
    .coverImage {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      .maskStatusFail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        z-index: 2;
      }
    }
    .checkbox {
      margin-right: 16px;
    }
    .itemInfo {
      flex: 1;
      overflow: hidden;
      margin-left: 12px;
      .itemTitle {
        margin-bottom: 12px;
        :global {
          .ant-typography {
            font-size: 16px;
            line-height: 24px;
            color: rgb(13, 13, 13);
          }
        }
      }
      .propsDes {
        font-size: 12px;
        line-height: 22px;
        color: rgb(64, 64, 64);
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0 30px;
    font-size: 14px;
    .delete {
      display: none;
      cursor: pointer;
      transition: all 0.3s;
      font-weight: bold;
      margin-right: 8px;
      &:hover {
        color: #0d0d0d80;
      }
    }
    .itemCount {
      .price {
        margin-left: 16px;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
}
